/* 
0 - 600px:          Phone
600 - 900px:        Tablet Portrait
900 - 1200px:       Tablet Landscape
[1200 - 1800px]:    Current normal styles apply
1800px + :          Big Desktop


$breakpoint argument choices:
- smallest        //600px
- small-mid       //700px
- small-lg        //800px
- small           //900px
- mid             //1000px
- large           //1200px
- largest         //1800px +
- 1em = 16px
*/
:root {
  --color-primary: #5d5b6a;
  --color-primary-dark: #464159;
  --color-secondary: #128ac2;
  --color-tertiary: #0f4c75;
  --color-grey-light-1: #dee7ec;
  --color-grey-light-2: #f5f5f5;
  --color-grey-dark-1: #2d4059;
  --color-grey-dark-2: #384259;
  --color-white: #fff;
  --font-primary: "Nunito", sans-serif;
  --font-display: "Josefin Sans", sans-serif; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  font-family: var(--font-primary);
  font-weight: 300;
  line-height: 1.6;
  background-color: var(--color-grey-light-2); }

.container__header {
  background-color: #2c3e50; }

.container__main {
  max-width: 120rem;
  margin: 2.5rem auto;
  display: grid;
  grid-template-columns: 1fr 2.5fr 1.2fr;
  column-gap: 2rem; }
  @media only screen and (max-width: 75em) {
    .container__main {
      margin: 1.5rem auto;
      width: max-width; } }
  @media only screen and (max-width: 62.5em) {
    .container__main {
      grid-template-columns: 1fr 2fr 1fr; } }
  @media only screen and (max-width: 56.25em) {
    .container__main {
      grid-template-columns: 1fr 3fr; } }
  @media only screen and (max-width: 43.75em) {
    .container__main {
      grid-template-columns: 1fr 4fr; } }
  @media only screen and (max-width: 37.5em) {
    .container__main {
      grid-template-columns: 1fr; } }

.heading-2 {
  font-size: 1.6rem;
  line-height: 1.2;
  color: #2a3133;
  font-weight: 600; }

.paragraph {
  font-size: 1.2rem; }
  .paragraph--light {
    color: rgba(0, 0, 0, 0.5); }
  .paragraph--medium {
    color: rgba(0, 0, 0, 0.75);
    font-weight: 400; }
  .paragraph--dark {
    color: #333;
    font-weight: 700; }

.link {
  text-decoration: none;
  cursor: pointer; }
  .link:hover {
    text-decoration: underline; }

.link {
  font-size: 1.2rem;
  text-decoration: none; }
  .link--small {
    font-size: 1rem; }
  .link--large {
    font-size: 1.4rem; }
  .link--light, .link--medium, .link--dark, .link--more {
    color: #444; }
  .link--medium {
    font-weight: 400; }
  .link--dark {
    font-weight: 700; }
  .link--blue {
    color: var(--color-secondary);
    font-weight: 600; }
  .link--feed {
    color: #777; }
  .link:hover {
    color: var(--color-secondary);
    text-decoration: underline;
    cursor: pointer; }
  .link--blue:hover, .link--feed:hover, .link--more:hover {
    text-decoration: none; }
  .link--feed:hover {
    color: #777; }
  .link--more:hover {
    color: currentColor; }
  .link--blue:hover {
    color: var(--color-tertiary); }

.btn {
  border: none;
  background-color: transparent;
  cursor: pointer; }
  .btn--horizontal {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    border-radius: 50%; }
  .btn--horizontal:hover {
    background-color: #eee; }

.sidebar-left > * {
  background-color: var(--color-white);
  margin-bottom: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.15); }

.profile > * {
  border: 1px solid rgba(0, 0, 0, 0.1); }

@media only screen and (max-width: 37.5em) {
  .profile {
    display: none; } }

.profile__header {
  display: grid;
  justify-items: center;
  grid-template-rows: min-content 4rem repeat(2, minmax(4.5rem, 1fr)); }

.profile__header-img {
  height: 6rem;
  background-image: url(../img/header-blue.png);
  width: 100%;
  background-size: cover;
  background-position: center; }

.profile__h2 {
  align-self: end;
  margin-top: -1.5rem;
  text-decoration: none;
  cursor: pointer; }

.profile__img {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  border: 2px solid #fff;
  transform: translateY(-50%); }

.profile__stats {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 1.5rem; }
  .profile__stats--access {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem; }
  .profile__stats-details {
    display: flex;
    align-items: center;
    justify-content: space-between; }

.profile__view-count {
  color: var(--color-secondary);
  font-size: 1.2rem;
  font-weight: bold; }

.profile__saved-items {
  display: flex;
  padding: 1rem; }
  .profile__saved-items a:hover {
    text-decoration: none; }

.profile__icon {
  height: 1.75rem;
  width: 1.75rem;
  fill: #000;
  margin-right: 0.5rem; }

.discover {
  padding: 1.5rem; }
  .discover > *:not(:last-child) {
    margin-bottom: 2rem; }
  .discover__header {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .discover__header:hover {
      background-color: var(--color-grey-light-2); }
    .discover__header--text {
      font-weight: 300;
      margin-bottom: 0.5rem; }
      .discover__header--text--blue {
        color: var(--color-secondary);
        font-weight: 400; }
  .discover__item {
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    cursor: pointer; }
    .discover__item:hover {
      background-color: var(--color-grey-light-2); }
  .discover__icon {
    height: 2rem;
    width: 2rem;
    fill: rgba(0, 0, 0, 0.75);
    margin-right: 1rem; }
    .discover__icon:hover {
      cursor: pointer; }
    .discover__icon--medium {
      height: 1.5rem;
      width: 1.5rem; }
    .discover__icon--small {
      height: 1.2rem;
      width: 1.2rem; }
      .discover__icon--small:hover {
        fill: var(--color-secondary); }
    .discover__icon--toggle {
      display: none; }
  .discover__header:hover .discover__icon--toggle {
    display: block; }
  .discover__show-more {
    display: flex;
    align-items: center;
    padding-left: 3rem; }
    .discover__show-more a {
      margin-right: 0.5rem; }
      .discover__show-more a:hover {
        text-decoration: none; }
    .discover__show-more:hover {
      background-color: var(--color-grey-light-2); }
  .discover__show-more:hover a {
    color: var(--color-secondary); }
  .discover__show-more:hover svg {
    fill: var(--color-secondary); }
  .discover__plus {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .discover__more {
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    text-align: center;
    padding-top: 1rem; }

.feed__sort {
  display: grid;
  grid-template-columns: 1fr max-content;
  column-gap: 1rem;
  align-items: center;
  border: none; }
  .feed__sort--line {
    height: 1px;
    background-color: rgba(0, 0, 0, 0.15); }
  .feed__sort--by {
    display: flex;
    justify-content: end;
    align-items: center; }
    .feed__sort--by p.paragraph--dark {
      margin-left: 0.3rem; }

.feed__wrapper {
  background-color: #fff;
  display: grid;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.15);
  padding: 1.5rem 2rem; }
  .feed__wrapper > *:not(:last-child) {
    margin-bottom: 1rem; }
  @media only screen and (max-width: 37.5em) {
    .feed__wrapper {
      margin-bottom: 0.7rem; } }

.feed__img {
  width: 100%; }

.feed__learn {
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(18, 138, 194, 0.15); }

.feed__btn {
  font-size: 1.2rem;
  color: var(--color-secondary);
  font-weight: 600;
  text-decoration: none;
  border: 1px solid currentColor;
  padding: 0.2rem 1rem; }
  .feed__btn:hover {
    filter: brightness(50%); }

.feed__notification {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15); }
  .feed__notification p {
    flex: 1;
    margin-left: 0.5rem; }

.feed__item, .feed__promoted {
  display: grid;
  align-items: center;
  column-gap: 1rem; }
  .feed__item--img, .feed__promoted--img {
    height: 5rem;
    width: 5rem;
    border-radius: 50%; }
  .feed__item--details, .feed__promoted--details {
    line-height: 1.4; }
  .feed__item--name, .feed__promoted--name {
    font-size: 1.4em;
    font-weight: 600; }

.feed__item {
  grid-template-columns: max-content 1fr; }
  .feed__item--details {
    display: grid; }

.feed__promoted {
  grid-template-columns: repeat(2, max-content) 1fr; }
  .feed__promoted button {
    justify-self: end; }

.feed__text {
  font-size: 1.4rem; }

.feed__more {
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.75);
  text-align: end; }

.feed__likes {
  display: flex;
  align-items: center;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15); }

.feed__feedback {
  display: grid;
  grid-template-columns: repeat(3, 0.2fr);
  align-items: center;
  justify-items: start; }
  .feed__feedback--item {
    display: flex;
    align-items: center; }

.feed__icon--sort {
  height: 2.5rem;
  width: 2.5rem; }

.feed__icon--likes, .feed__icon--feedback {
  fill: rgba(0, 0, 0, 0.7);
  margin-right: 0.3rem; }

.feed__icon--likes {
  height: 1.5rem;
  width: 1.5rem; }

.feed__icon--more, .feed__icon--feedback {
  height: 2rem;
  width: 2rem; }

.feed__icon--outline {
  height: 0.5rem;
  width: 0.5rem;
  fill: #333;
  margin: 0 0.5rem; }

.sidebar-right > *:not(:last-child) {
  background-color: var(--color-white);
  margin-bottom: 0.2rem;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.15); }

@media only screen and (max-width: 56.25em) {
  .sidebar-right {
    margin-top: -18rem; } }

@media only screen and (max-width: 50em) {
  .sidebar-right {
    margin-top: -12rem; } }

@media only screen and (max-width: 37.5em) {
  .sidebar-right {
    margin-top: 0.5rem; } }

.news {
  background-color: #fff;
  display: grid;
  padding: 1.5rem;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(0, 0, 0, 0.15); }
  .news__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 0; }
  .news__heading {
    font-size: 1.6rem;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 400; }
  .news__list {
    list-style: none; }
  .news__more {
    display: flex;
    align-items: center;
    justify-self: start;
    padding: 0 1rem; }
    .news__more a {
      margin-right: 3px; }
    .news__more:hover {
      background-color: rgba(0, 0, 0, 0.05); }
  .news__more:hover a {
    font-weight: 500; }
  .news__item {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    margin-bottom: 0.5rem; }
    .news__item p {
      grid-column: 2 / -1; }
    .news__item:hover {
      background-color: #eee; }
  .news__icon {
    height: 1.2rem;
    width: 1.2rem;
    fill: #444; }
    .news__icon--small {
      height: 0.5rem;
      width: 0.5rem;
      fill: rgba(0, 0, 0, 0.6); }
    .news__icon--medium {
      fill: var(--color-secondary);
      margin-right: 0.5rem; }

.ad {
  display: grid;
  padding: 1rem;
  padding-left: 2.5rem; }
  .ad > *:not(:last-child) {
    margin-bottom: 0.5rem; }
  .ad__header {
    display: flex;
    align-items: center;
    justify-content: end; }
  .ad__img {
    height: 3rem;
    width: 3rem;
    border-radius: 50%; }
  .ad__icon {
    height: 1rem;
    width: 1rem;
    margin-left: 0.5rem;
    fill: rgba(0, 0, 0, 0.6); }
  .ad__me, .ad__company {
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: 1rem;
    align-items: center; }
  .ad__company--position {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
    .ad__company--position:hover {
      background-color: #eee; }
  .ad__footer {
    text-align: center; }
    .ad__footer--text {
      font-size: 1.4rem;
      padding-top: 0.5rem;
      color: var(--color-secondary);
      border-top: 1px solid rgba(0, 0, 0, 0.15);
      font-weight: 600; }

.subscribe {
  padding: 1.5rem; }
  .subscribe__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.7rem; }
    .subscribe__header--text {
      font-size: 1.4rem;
      color: rgba(0, 0, 0, 0.75); }
  .subscribe__img {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%; }
  .subscribe__list {
    list-style: none; }
  .subscribe__item {
    display: grid;
    grid-template-columns: repeat(2, max-content) 1fr;
    align-items: center;
    column-gap: 1rem;
    cursor: pointer;
    margin-bottom: 1rem; }
  .subscribe__link {
    font-size: 1.2rem;
    color: #000;
    font-weight: 400;
    text-decoration: none; }
  .subscribe__follow {
    display: flex;
    justify-self: end;
    border: 1px solid var(--color-secondary);
    padding: 0.3rem 0.5rem;
    transition: all 0.2s; }
    .subscribe__follow:hover {
      background-color: rgba(18, 138, 194, 0.25);
      border: 2px solid var(--color-secondary); }
    .subscribe__follow--icon {
      height: 1.5rem;
      width: 1.5rem;
      fill: var(--color-secondary); }
  .subscribe__btn {
    font-size: 1rem;
    text-decoration: none;
    color: var(--color-secondary);
    cursor: pointer; }
  .subscribe__recommendation {
    font-size: 1.2rem;
    color: var(--color-secondary);
    font-weight: 600;
    margin-top: 0.7rem; }

.header {
  height: 7.5vh;
  display: grid;
  grid-template-columns: min-content max-content 1fr;
  gap: 2rem;
  max-width: 120rem;
  margin-right: auto;
  margin-left: auto;
  align-items: center; }
  @media only screen and (max-width: 75em) {
    .header {
      max-width: 92.5%; } }
  @media only screen and (max-width: 37.5em) {
    .header {
      height: 11vh;
      grid-template-columns: min-content 1fr;
      row-gap: 1rem;
      max-width: 100%; } }
  .header__icon {
    height: 3.5rem;
    width: 3.5rem;
    background: #fff;
    border-radius: 0; }
  .header__logo {
    height: 3.5rem; }
    @media only screen and (max-width: 37.5em) {
      .header__logo {
        margin-top: 1rem;
        margin-left: 1rem; } }

.search {
  display: flex;
  flex: 0 0 25%;
  align-items: center;
  position: relative; }
  @media only screen and (max-width: 37.5em) {
    .search {
      margin-top: 1rem;
      margin-right: 1rem; } }
  .search__icon {
    height: 1.5rem;
    width: 1.5rem;
    fill: #444;
    position: absolute;
    left: 1rem;
    z-index: 10; }
  .search__input {
    font-size: 1.3rem;
    width: 100%;
    height: 3.5rem;
    padding: 1rem 3rem;
    color: #000;
    background-color: var(--color-grey-light-2);
    border: none;
    border-radius: 2px; }

.navbar {
  width: 100%; }
  @media only screen and (max-width: 37.5em) {
    .navbar {
      grid-column: 1 / -1;
      padding-top: 0.5rem;
      border-top: 1px solid #ccc; } }
  .navbar__list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly; }
    @media only screen and (max-width: 37.5em) {
      .navbar__list {
        align-items: flex-start; } }
  @media only screen and (max-width: 50em) {
    .navbar__item--line + .navbar__item {
      display: none; } }
  .navbar__item {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: minmax(6.5rem, 1fr);
    position: relative; }
    .navbar__item--more {
      display: flex;
      align-items: center;
      justify-content: center; }
      @media only screen and (max-width: 37.5em) {
        .navbar__item--more {
          align-items: flex-start; } }
    .navbar__item--line {
      max-width: 1px;
      margin: 0 -2rem; }
      @media only screen and (max-width: 50em) {
        .navbar__item--line {
          display: none; } }
    .navbar__item--try {
      text-align: center;
      max-width: 10rem; }
      .navbar__item--try a {
        color: #dccea4;
        font-weight: 400; }
      @media only screen and (max-width: 62.5em) {
        .navbar__item--try {
          display: none; } }
    .navbar__item span {
      height: 1.6rem;
      width: 1.6rem;
      border-radius: 50%;
      border: 1px solid #2c3e50;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      background-color: #b60b0b;
      top: -0.2rem;
      right: 2rem; }
      .navbar__item span svg {
        height: 0.5rem;
        height: 0.5rem;
        fill: #fff; }
    .navbar__item:hover {
      cursor: pointer; }
    .navbar__item:hover span {
      filter: brightness(1.4); }
  .navbar__link {
    font-size: 1.2rem;
    font-weight: 400;
    color: #ccc;
    text-decoration: none; }
  .navbar__img {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin-top: 0.5rem; }
    @media only screen and (max-width: 37.5em) {
      .navbar__img {
        margin-top: 0; } }
  .navbar__icon {
    height: 2.5rem;
    width: 2.5rem;
    fill: #ccc; }
    .navbar__icon:hover {
      fill: #fff; }
  .navbar__item:hover .navbar__link {
    color: #fff; }
  .navbar__item:hover .navbar__icon {
    fill: #fff; }
  .navbar__item--try:hover .navbar__link {
    color: #dccea4;
    text-decoration: underline; }
  .navbar__me {
    display: block;
    width: 1px;
    height: 6vh;
    position: absolute;
    background: #ccc; }

@media only screen and (max-width: 37.5em) {
  .content {
    grid-row: 1 / -1; } }

.post {
  display: grid;
  grid-template-rows: repeat(4, max-content); }
  .post > * {
    border: 1px solid rgba(0, 0, 0, 0.15); }
  .post__options {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15); }
  .post__regular {
    background-color: #fff;
    padding: 1.5rem;
    display: grid;
    grid-template-columns: 1fr minmax(max-content, 0.75fr);
    align-items: center; }
  .post__write {
    display: flex;
    align-items: center; }
  .post__write:hover .post__text {
    color: var(--color-secondary);
    text-decoration: underline; }
  .post__write:hover .post__icon--write {
    fill: var(--color-secondary); }
  .post__doc {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.5rem; }
    .post__doc > *:hover {
      background-color: var(--color-grey-light-2); }
    .post__doc > *:not(:last-child) {
      border-right: 1px solid rgba(0, 0, 0, 0.15); }
  .post__text {
    font-size: 1.6rem;
    color: #333;
    font-weight: 500;
    text-decoration: none; }
  .post__icon {
    height: 2.5rem;
    width: 2.5rem;
    fill: rgba(0, 0, 0, 0.5); }
    .post__icon--write {
      height: 2rem;
      width: 2rem;
      margin-right: 1rem; }
    .post__icon--sort {
      fill: #000; }
  .post__article {
    padding: 1.5rem 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.25); }
    .post__article--text {
      font-size: 1.4rem;
      color: rgba(0, 0, 0, 0.5); }

.footer {
  padding-top: 1rem;
  margin-top: 1.5rem;
  border-top: 1px solid rgba(0, 0, 0, 0.25); }
  .footer__list {
    display: flex;
    align-items: center;
    justify-content: center; }
  .footer__item {
    padding: 0.5rem 0.7rem;
    list-style: none; }
    .footer__item--more {
      display: flex;
      align-items: center; }
    .footer__item:hover {
      cursor: pointer; }
  .footer__link {
    font-size: 1.2rem;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.75); }
    .footer__link:hover {
      color: var(--color-secondary); }
  .footer__icon {
    height: 2rem;
    width: 2rem; }
    .footer__icon--small {
      height: 1.5rem;
      width: 1.5rem;
      fill: var(--color-secondary); }
    .footer__icon:hover {
      fill: var(--color-secondary); }
  .footer__item--more:hover a {
    color: var(--color-secondary); }
  .footer__item--more:hover svg {
    fill: var(--color-secondary); }
  .footer__copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem; }
  .footer__text {
    font-size: 1.2rem;
    font-weight: 300; }
    .footer__text--dark {
      font-size: 1.4rem;
      font-weight: 700; }
  .footer__logo {
    display: flex;
    align-items: center;
    margin-right: 0.3rem; }
    .footer__logo p {
      margin-right: 1px; }
