:root {
  --color-primary: #5d5b6a;
  --color-primary-dark: #464159;
  --color-secondary: #0f4c75;

  --color-grey-light-1: #f9f7f6;
  --color-grey-light-2: #aaa;

  --color-grey-dark-1: #2d4059;
  --color-grey-dark-2: #384259;

  --font-primary: "Nunito", sans-serif;
  --font-display: "Josefin Sans", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: var(--font-primary);
  font-weight: 300;
  line-height: 1.6;
}
