.btn {
  border: none;
  background-color: transparent;
  cursor: pointer;

  &--horizontal {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
  }

  &--horizontal:hover {
    background-color: #eee;
  }
}
