.feed {
  &__sort {
    display: grid;
    grid-template-columns: 1fr max-content;
    column-gap: 1rem;
    align-items: center;
    border: none;

    &--line {
      height: 1px;
      background-color: rgba(#000, 0.15);
    }

    &--by {
      display: flex;
      justify-content: end;
      align-items: center;

      p {
        &.paragraph--dark {
          margin-left: 0.3rem;
        }
      }
    }
  }

  &__wrapper {
    background-color: #fff;
    display: grid;
    border: 1px solid rgba(#000, 0.15);
    box-shadow: 0 0.5rem 0.5rem rgba(#000, 0.15);
    padding: 1.5rem 2rem;

    & > *:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__notification {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: .5rem;
    border-bottom: 1px solid rgba(#000, 0.15);

    span {
      font-weight: 400;
    }
  }

  &__item,
  &__promoted {   
    display: grid; 
    align-items: center;
    column-gap: 1rem;

    &--img {
      height: 5rem;
      width: 5rem;
      border-radius: 50%;
    }

    &--details {
      line-height: 1.4;
    }

    &--name {
      font-size: 1.4em;
      font-weight: 600;
    }
  }  

  &__item {   
    grid-template-columns: max-content 1fr;
  }

  &__promoted {
    grid-template-columns: repeat(2, max-content) 1fr;

    svg {
      justify-self: end;
    }
  }


  &__text {
    font-size: 1.4rem;
  }

  &__more {
    font-size: 1.2rem;
    color: rgba(#000, 0.75);
    text-align: end;
  }

  &__likes {
    display: flex;
    align-items: center;
    padding-bottom: .5rem;
    border-bottom: 1px solid rgba(#000, 0.15);
  }

  &__feedback {
   display: grid;
   grid-template-columns: repeat(3, .2fr);
   align-items: center;
   justify-items: start;

   &--item {
     display: flex;
     align-items: center;
   }
  }

  &__icon {   

    &--sort {
      height: 2.5rem;
      width: 2.5rem;
    }

    &--likes,
    &--feedback {
      fill: rgba(#000, 0.7);
      margin-right: .3rem;
    }

    &--likes {
     height: 1.5rem;
     width: 1.5rem;         
    }

    &--more,
    &--feedback {
      height: 2rem;
      width: 2rem;           
    }
  }
}
