.header {
  height: 7.5vh;
  display: grid;
  grid-template-columns: min-content max-content 1fr;
  gap: 2rem;
  max-width: 120rem;
  margin-right: auto;
  margin-left: auto;
  align-items: center;

  @include breakpoint(large) {
    max-width: 92.5%;
  }

  @include breakpoint(smallest) {
    height: 11vh;
    grid-template-columns: min-content 1fr;
    row-gap: 1rem;
    max-width: 100%;
  }

  &__icon {
    height: 3.5rem;
    width: 3.5rem;
    background: #fff;
    border-radius: 0;
  }

  &__logo {
    height: 3.5rem;

    @include breakpoint(smallest) {
      margin-top: 1rem;
      margin-left: 1rem;
    }
  }
}

.search {
  display: flex;
  flex: 0 0 25%;
  align-items: center;
  position: relative;

  @include breakpoint(smallest) {
    margin-top: 1rem;
    margin-right: 1rem;
  }

  &__icon {
    height: 1.5rem;
    width: 1.5rem;
    fill: #444;
    position: absolute;
    left: 1rem;
    z-index: 10;
  }

  &__input {
    font-size: 1.3rem;
    width: 100%;
    height: 3.5rem;
    padding: 1rem 3rem;
    color: #000;
    background-color: var(--color-grey-light-2);
    border: none;
    border-radius: 2px;
  }
}
