.link {
  font-size: 1.2rem;
  text-decoration: none;

  &--small {
    font-size: 1rem;
  }

  &--large {
    font-size: 1.4rem;
  }

  &--light,
  &--medium,
  &--dark,
  &--more {
    color: #444;
  }

  &--medium {
    font-weight: 400;
  }

  &--dark {
    font-weight: 700;
  }

  &--blue {
    color: var(--color-secondary);
    font-weight: 600;
  }

  &--feed {
    color: #777;
  }

  &:hover {
    color: var(--color-secondary);
    text-decoration: underline;
    cursor: pointer;
  }

  &--blue:hover,
  &--feed:hover,
  &--more:hover {
    text-decoration: none;
  }

  &--feed:hover {
    color: #777;
  }

  &--more:hover {
    color: currentColor;
  }

  &--blue:hover {
    color: var(--color-tertiary);
  }
}
