.navbar {
  width: 100%;

  &__list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  &__item {
    display: grid;
    justify-items: center;

    &:hover {
      cursor: pointer;
    }
  }

  &__link {
    font-size: 1.2rem;
    color: #ccc;
    text-decoration: none;
  }

  &__icon {
    height: 2.5rem;
    fill: #ccc;

    &:hover {
      fill: #fff;
    }
  }

  &__item:hover &__link {
    color: #fff;
  }

  &__item:hover &__icon {
    fill: #fff;
  }
}
