.post {
  display: grid;
  grid-template-rows: repeat(4, max-content);

  & > * {
    border: 1px solid rgba(#000, 0.15);
  }

  &__options {
    box-shadow: 0 1px 1px rgba(#000, 0.15);
  }

  &__regular {
    background-color: #fff;
    padding: 1.5rem;
    display: grid;
    grid-template-columns: 1fr minmax(max-content, 0.75fr);
    align-items: center;
  }

  &__write {
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: 1.5rem;
    align-items: center;
    border-right: 1px solid rgba(#000, 0.15);
  }

  &__doc {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.5rem;

    & > *:not(:last-child) {
      border-right: 1px solid rgba(#000, 0.15);
    }
  }

  &__btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  &__text {
    font-size: 1.6rem;
  }

  &__icon {
    height: 3rem;
    width: 3rem;
    fill: rgba(#000, 0.5);

    &--sort {
      fill: #000;
    }
  }

  &__article {
    padding: 1.5rem 1rem;
    border-top: 1px solid rgba(#000, 0.25);

    &--text {
      font-size: 1.4rem;
      color: rgba(#000, 0.5);
    }

    span {
      color: var(--color-secondary);
      font-weight: 700;
    }
  }
}
