.sidebar-left {
  & > * {
    background-color: var(--color-white);
    margin-bottom: 0.5rem;
    border: 1px solid rgba(#000, 0.2);
    box-shadow: 0 0.5rem 0.5rem rgba(#000, 0.15);
  }
}

.profile {
  & > * {
    border: 1px solid rgba(#000, 0.1);
  }

  @include breakpoint(smallest) {
    display: none;
  }

  &__header {
    display: grid;
    justify-items: center;
    grid-template-rows: min-content 4rem repeat(2, minmax(4.5rem, 1fr));
  }

  &__header-img {
    height: 6rem;
    background-image: url(../img/header-blue.png);
    width: 100%;
    background-size: cover;
    background-position: center;
  }

  &__h2 {
    align-self: end;
    margin-top: -1.5rem;
    @include link-basic;
  }

  &__img {
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    border: 2px solid #fff;
    transform: translateY(-50%);
  }

  &__stats {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 1.5rem;

    &--access {
      display: flex;
      flex-direction: column;
      margin-top: 1.5rem;
    }

    &-details {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__view-count {
    color: var(--color-secondary);
    font-size: 1.2rem;
    font-weight: bold;
  }

  &__saved-items {
    display: flex;
    padding: 1rem;

    a:hover {
      text-decoration: none;
    }
  }

  &__icon {
    height: 1.75rem;
    width: 1.75rem;
    fill: #000;
    margin-right: 0.5rem;
  }
}

.discover {
  padding: 1.5rem;
  & > *:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__header {
    @include flex-space-between;

    &:hover {
      background-color: var(--color-grey-light-2);
    }

    &--text {
      font-weight: 300;
      margin-bottom: 0.5rem;

      &--blue {
        color: var(--color-secondary);
        font-weight: 400;
      }
    }
  }

  &__item {
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    cursor: pointer;

    &:hover {
      background-color: var(--color-grey-light-2);
    }
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: rgba(#000, 0.75);
    margin-right: 1rem;

    &:hover {
      cursor: pointer;
    }

    &--medium {
      height: 1.5rem;
      width: 1.5rem;
    }

    &--small {
      height: 1.2rem;
      width: 1.2rem;

      &:hover {
        fill: var(--color-secondary);
      }
    }

    &--toggle {
      display: none;
    }
  }

  &__header:hover .discover__icon--toggle {
    display: block;
  }

  &__show-more {
    display: flex;
    align-items: center;
    padding-left: 3rem;

    a {
      margin-right: 0.5rem;
      &:hover {
        text-decoration: none;
      }
    }

    &:hover {
      background-color: var(--color-grey-light-2);
    }
  }

  &__show-more:hover a {
    color: var(--color-secondary);
  }

  &__show-more:hover svg {
    fill: var(--color-secondary);
  }

  &__plus {
    @include flex-space-between;
  }

  &__more {
    border-top: 1px solid rgba(#000, 0.15);
    text-align: center;
    padding-top: 1rem;
  }
}
