.profile {
  height: 33vh;
  
  & > * {
    background-color: snow;
    margin-bottom: .5rem;
  }

  &__header {
    display: grid;
    justify-items: center;      
    grid-template-rows: min-content 4rem repeat(2, minmax(4.5rem, 1fr));       
  }

  &__header-img {
    height: 6rem;
    background-image: url(../img/header-blue.png);
    width: 100%;
    background-size: cover;
    background-position: center;
  }

  &__h2 {
    align-self: end;
    margin-top: -1.5rem;
  }

  &__img {
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    border: 2px solid #fff;
    transform: translateY(-50%);
  }

  &__stats {
  }

  &__view-count {
  }

  &__saved-items {
  }

  &__icon {
    height: 1.75rem;
    width: 1.75rem;
    fill: #000;
  }
}

.news {
  height: 20vh;
  background-color: peru;
}
