.heading-2 {
  font-size: 1.6rem;
  line-height: 1.2;
  color: #2a3133;
}

.paragraph {
  font-size: 1.2rem;

  &--light {
    color: rgba(#000, 0.5);
  }
  &--medium {
    color: rgba(#000, 0.75);
  }

  &--dark {
    color: #333;
    font-weight: 700;
  }
}
